h1 {
  font-family: "Creepster", cursive;
  font-size: 40px;
  color: rgb(255, 123, 0);
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 0;
}
.color {
  color: rgb(139, 27, 136);
  font-size: 20px;
  font-family: "Creepster", cursive;
}

h2 {
  font-family: "Creepster", cursive;
  font-size: 65px;
  color: rgb(255, 123, 0);
  padding-left: 15px;
}

.temp {
  font-family: "Creepster", cursive;
  font-size: 25px;
  color: rgb(255, 123, 0);
  padding-left: 15px;
}

.degrees {
  font-family: "Creepster", cursive;
  font-size: 25px;
  color: rgb(255, 123, 0);
  padding-left: 15px;
}

.wind2 {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(255, 123, 0);
  margin-bottom: 0;
  margin-left: 125;
}

.prec {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(139, 27, 136);
  margin-right: 25;
  margin-bottom: 0;
}

.humd {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(255, 123, 0);
  margin-right: 25;
  margin-bottom: 0;
}

.cat {
  width: 200px;
}

.creepy-search {
  font-family: "Creepster", cursive;
  color: hsl(0, 87%, 50%);
  padding-top: 15px;
}
.date {
  color: rgb(139, 27, 136);
  font-size: 20px;
  font-family: "Creepster", cursive;
}

body {
  border: 4px solid #dadde1;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  color: black;
}
.units {
  color: rgb(139, 27, 136);
  font-size: 20px;
  font-family: "Creepster", cursive;
}
