h1 {
  font-family: "Creepster", cursive;
  font-size: 40px;
  color: rgb(255, 123, 0);
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 0;
}
.color {
  color: rgb(255, 123, 0);

  font-size: 20px;
  font-family: "Creepster", cursive;
}

.c-link {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(38, 7, 46);
  padding-left: 15px;
}

.f-link {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(255, 123, 0);
}

.temp {
  font-family: "Creepster", cursive;
  font-size: 25px;
  color: rgb(255, 123, 0);
  padding-left: 15px;
}

.degrees {
  font-family: "Creepster", cursive;
  font-size: 25px;
  color: rgb(255, 123, 0);
  padding-left: 15px;
}

.wind2 {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(255, 123, 0);
  margin-bottom: 0;
  margin-left: 125;
}

.prec {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(38, 7, 46);
  margin-right: 25;
  margin-bottom: 0;
}

.humd {
  font-family: "Creepster", cursive;
  font-size: 20px;
  color: rgb(255, 123, 0);
  margin-right: 25;
  margin-bottom: 0;
}

.creepy-search {
  font-family: "Creepster", cursive;
  color: hsl(0, 87%, 50%);
  padding-top: 15px;
}
.number {
  font-size: 35px;
  color: rgb(38, 7, 46);
}
.date {
  color: rgb(38, 7, 46);
  font-size: 15px;
  font-family: "Creepster", cursive;
}

.units {
  color: rgb(38, 7, 46);
  font-size: 20px;
  font-family: "Creepster", cursive;
}
.creepy-weather {
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  border: 10px soild #38393a;
  border-radius: 5px;
}

body {
  font-family: "Creepster", cursive;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
